In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [2]:
# importing the required libraries
import selenium
import pandas as pd
from selenium import webdriver

# Q.1 "Data Analyst"

In [4]:
# lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
url='https://www.naukri.com/'
driver.get(url)

In [6]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [7]:
search_job.send_keys("Data Analyst")

In [8]:
#finding element for job location bar
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [9]:
# do click using xpath fuction
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn

In [10]:
search_btn.click()

In [22]:
# so lets extract all the tags having the job_titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
job_titles=[]   #empty list
for i in titles_tags:
    job_titles.append(i.text)
job_titles

#so lets extract all the tags having the company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

company_names=[]   # empty list
for i in companies_tags:
    company_names.append(i.text)
company_names

#so lets extract all the tags having the experience required data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experience_tags

experience_list=[]   #empty list
for i in experience_tags:
    experience_list.append(i.text)
experience_list

#so lets extract all the tags having the location tags
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
location_tags

location_list=[]   # empty list
for i in location_tags:
    location_list.append(i.text)
location_list

jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['Experience-required']=experience_list
jobs['Location']=location_list
jobs.head(10)

,Title,Company,Experience-required,Location
0,Data Scientist,Agreeya,3-6 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
1,Data Scientist Internship,iHackers Inc,0-1 Yrs,New Delhi
2,Data Scientist,CBRE South Asia Pvt Ltd,2-4 Yrs,Gurgaon/Gurugram
3,Data Scientist,Experiture,5-7 Yrs,"Kolkata, Hyderabad/Secunderabad, Ahmedabad, Ba..."
4,Data Scientist- Image Processing & Computer Vi...,ProtoGene Consulting Private Limited,4-7 Yrs,Delhi / NCR
5,Senior Data Scientist - Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs,Noida
6,Data Scientist / Sr. Data Scientist,WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs,"Noida, Pune, Mumbai (All Areas)"
7,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
8,Immediate Openings For DATA Scientist with 6 T...,Entune IT Consulting Private Limited,5-8 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
9,Data Scientist,R Systems International Ltd.,5-10 Yrs,Noida(Sector-59 Noida)

# Q.2 "Data Scientist"

In [3]:
driver=webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
url2='https://www.naukri.com/'
driver.get(url2)

In [6]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [7]:
search_job.send_keys("Data Scientist")

In [8]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [9]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn

In [10]:
search_btn.click()

In [11]:
# so lets extract all the tags having the job_titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
job_titles=[]   #empty list
for i in titles_tags:
    job_titles.append(i.text)
job_titles

#so lets extract all the tags having the company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

company_names=[]  # empty list
for i in companies_tags:
    company_names.append(i.text)
company_names


#so lets extract all the tags having the location tags
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
location_tags

location_list=[]   # empty list
for i in location_tags:
    location_list.append(i.text)
location_list

# so lets extract all the tags having the full job-description
job_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
job_tags

job_list=[]   # empty list
for i in job_tags:
    job_list.append(i.text)
job_list    

jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['Location']=location_list
jobs['job-description']=job_list
jobs.head(10)

,Title,Company,Location,job-description
0,Data Scientist- Senior Business Analyst/Lead A...,Evalueserve.com Pvt. Ltd,"Gurgaon/Gurugram, Bangalore/Bengaluru",from a reputed institute Experience with cloud...
1,Senior Data Scientist,Signify,Bangalore/Bengaluru,"PhD / Masters / BTech in computer science, com..."
2,"Senior Data Scientist (Analytics),",Luxoft,Bangalore/Bengaluru,Data and Analytics Proposal Responses for Cros...
3,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bangalore/Bengaluru,"As a Data Scientist at IBM, you will help tran..."
4,Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,Experience in creating and using advanced mach...
5,Senior Data Scientist,SMITHS DETECTION SYSTEMS PRIVATE LIMITED,Bangalore/Bengaluru,Must possess at least a Bachelors degree in El...
6,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...","Bachelors in Computer Science, Engineering, St..."
7,Senior Data Scientist,Philips India Limited,Bangalore/Bengaluru,"A Master s Degree or PhD in Computer Science, ..."
8,Senior Data Scientist - KPO,TalentCo Search Pvt Ltd,"Mumbai, Bangalore/Bengaluru, Delhi / NCR",Experience of working on end-to-end data scien...
9,Senior Data Scientist,TalentCo Search Pvt Ltd,"Mumbai, Delhi / NCR, Bangalore/Bengaluru",Experience of working on end-to-end data scien...

# Q.3 Scrape data using the filters("Data Scientist")

In [12]:
driver=webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")

In [13]:
url3='https://www.naukri.com/'
driver.get(url3)

In [14]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [15]:
search_job.send_keys("Data Scientist")

In [16]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Delhi/NCR")

In [17]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn

In [18]:
search_btn.click()

In [20]:
location_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/p/span[1]')
location_filter.click()

In [21]:
salary_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [23]:
# so lets extract all the tags having the job_titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
job_titles=[]   #empty list
for i in titles_tags:
    job_titles.append(i.text)
job_titles



#so lets extract all the tags having the location tags
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
location_tags

location_list=[]   # empty list
for i in location_tags:
    location_list.append(i.text)
location_list


#so lets extract all the tags having the company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

company_names=[]   # empty list
for i in companies_tags:
    company_names.append(i.text)
company_names


#so lets extract all the tags having the experience required data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experience_tags

experience_list=[]   #empty list
for i in experience_tags:
    experience_list.append(i.text)
experience_list





jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['Experience-required']=experience_list
jobs['Location']=location_list
jobs.head(10)

,Title,Company,Experience-required,Location
0,Data Scientist,Agreeya,3-6 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
1,Data Scientist Internship,iHackers Inc,0-1 Yrs,New Delhi
2,Data Scientist,CBRE South Asia Pvt Ltd,2-4 Yrs,Gurgaon/Gurugram
3,Data Scientist,Experiture,5-7 Yrs,"Kolkata, Hyderabad/Secunderabad, Ahmedabad, Ba..."
4,Data Scientist- Image Processing & Computer Vi...,ProtoGene Consulting Private Limited,4-7 Yrs,Delhi / NCR
5,Senior Data Scientist - Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs,Noida
6,Data Scientist / Sr. Data Scientist,WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs,"Noida, Pune, Mumbai (All Areas)"
7,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
8,Immediate Openings For DATA Scientist with 6 T...,Entune IT Consulting Private Limited,5-8 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
9,Data Scientist,R Systems International Ltd.,5-10 Yrs,Noida(Sector-59 Noida)